<div class="row">
    <div class="col-sm-6 pt-0 pl-0 pb-0">

        <svg width="100%" height="50%" xmlns="http://www.w3.org/2000/svg" text-anchor="middle">
          <g>
             <rect width="100%" height="90%" fill={% if ptv_status[0]['is_down'] %} "#F17979"  {% else %} "#9FFA7D"  {% endif %} 
             rx="15" stroke="#022140" stroke-opacity="0.8" stroke-width="1" stroke-linejoin="round"></rect>
             <text x="50%" y="20%" font-size="150%" fill="#022140">{{ ptv_status[0]['machine_name'] }}</text>
             <text x="50%" y="40%" fill="#022140">Product Count: &nbsp;&nbsp;{{ ptv_status[0]['prod_count'] }}</text>
             <text x="50%" y="58%" fill="#022140">Offline for: &nbsp;&nbsp;{{ ptv_status[0]['mins_down'] }} mins {{ ptv_status[0]['secs_down'] }} secs</text>
             <text x="50%" y="76%" fill="#022140"># Times Offline: &nbsp;&nbsp;{{ ptv_status[0]['down_count'] }}</text>
          </g>
       </svg>
        <svg width="100%" height="50%" xmlns="http://www.w3.org/2000/svg" text-anchor="middle">
          <g>
             <rect width="100%" height="90%" fill={% if ptv_status[2]['is_down'] %} "#F17979"  {% else %} "#9FFA7D"  {% endif %} 
             rx="15" stroke="#022140" stroke-opacity="0.8" stroke-width="1" stroke-linejoin="round"></rect>
             <text x="50%" y="20%" font-size="150%" fill="#022140">{{ ptv_status[2]['machine_name'] }}</text>
             <text x="50%" y="40%" fill="#022140">Product Count: &nbsp;&nbsp;{{ ptv_status[2]['prod_count'] }}</text>
             <text x="50%" y="58%" fill="#022140">Offline for: &nbsp;&nbsp;{{ ptv_status[2]['mins_down'] }} mins {{ ptv_status[2]['secs_down'] }} secs</text>
             <text x="50%" y="76%" fill="#022140"># Times Offline: &nbsp;&nbsp;{{ ptv_status[2]['down_count'] }}</text>
          </g>
       </svg>
    </div>
    <div class="col-sm-6  pt-0 pr-0 pb-0">

        <svg width="100%" height="50%" xmlns="http://www.w3.org/2000/svg" text-anchor="middle">
          <g>
             <rect width="100%" height="90%" fill={% if ptv_status[1]['is_down'] %} "#F17979"  {% else %} "#9FFA7D"  {% endif %} 
             rx="15" stroke="#022140" stroke-opacity="0.8" stroke-width="1" stroke-linejoin="round"></rect>
             <text x="50%" y="20%" font-size="150%" fill="#022140">{{ ptv_status[1]['machine_name'] }}</text>
             <text x="50%" y="40%" fill="#022140">Product Count: &nbsp;&nbsp;{{ ptv_status[1]['prod_count'] }}</text>
             <text x="50%" y="58%" fill="#022140">Offline for: &nbsp;&nbsp;{{ ptv_status[1]['mins_down'] }} mins {{ptv_status[1]['secs_down'] }} secs</text>
             <text x="50%" y="76%" fill="#022140"># Times Offline: &nbsp;&nbsp;{{ ptv_status[1]['down_count'] }}</text>
          </g>
       </svg>
        <svg width="100%" height="50%" xmlns="http://www.w3.org/2000/svg" text-anchor="middle">
          <g>
             <rect width="100%" height="90%" fill={% if ptv_status[3]['is_down'] %} "#F17979"  {% else %} "#9FFA7D"  {% endif %} 
             rx="15" stroke="#022140" stroke-opacity="0.8" stroke-width="1" stroke-linejoin="round"></rect>
             <text x="50%" y="20%" font-size="150%" fill="#022140">{{ ptv_status[3]['machine_name'] }}</text>
             <text x="50%" y="40%" fill="#022140">Product Count: &nbsp;&nbsp;{{ ptv_status[3]['prod_count'] }}</text>
             <text x="50%" y="58%" fill="#022140">Offline for: &nbsp;&nbsp;{{ ptv_status[3]['mins_down'] }} mins {{ ptv_status[3]['secs_down'] }} secs</text>
             <text x="50%" y="76%" fill="#022140"># Times Offline: &nbsp;&nbsp;{{ ptv_status[3]['down_count'] }}</text>
          </g>
       </svg>
    </div>
</div>