<table class="table table-bordered table-sm table-striped" style="width: 100%">
    <thead>
        <th>Run Order</th>
        <th>Shift</th>
        {% for machine_name in scheduled_machines %}
        <th>{{ machine_name }}</th>
        {% endfor %}
    </thead>
    <tbody>
        {% for row in schedule %}
        <tr>
            {% for item in row %} {% if item == 'Offline' %}
            <td>
                <font color="red">{{ item }}</font>
            </td>
            {% else %}
            <td> {{ item }}</td>
            {{% endfor %}}
        </tr>
    </tbody>
</table>