{% extends 'core/base.html' %} {% block title %}
<h4 class="page-header">Career</h4>{% endblock %} {% block content %}
<div class="container-fluid content-row">
    <div class="row">
        <div class="col col-xs-12">
            <div class="card pb-0 h-100">
                <div class="card-header">
                    <h4>
                        <p class="header-font">Introduction</p>
                    </h4>
                </div>
                <div class="card-body">
                    <p align="justify">
                        I initially studied as a Chemical Engineer to MEng level before pursuing a Ph.D researching optimal approaches to the production of anti-malarial drug treatments. During this time, I was highly active in the research community, in addition to consulting
                        for around a dozen industrial manufacturers around the globe. I eventually left the Ph.D position in order to pursue my career in Data Science. Below is a summary of my qualifications, publications and conference presentations.
                    </p>
                    <p>
                        You can view my CV online <button class="btn btn-primary btn-sm" data-toggle="modal" href="#cv_modal">here</button>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid content-row">
    <div class="row">
        <div class="col col-xs-12">
            <div class="card pb-0 h-100">
                <div class="card-header">
                    <h4>
                        <p class="header-font">Publications</p>
                    </h4>
                </div>
                <div class="card-body">
                    <ul style="list-style: none; padding: 0; list-style-type: none;">
                        <li>
                            <a href="https://www.sciencedirect.com/science/article/pii/S0926669014001502" target="_blank">
                                <p align="justify">
                                    <font color="black"><i class="fas fa-angle-right"></i> Pilkington, J. L., Preston, C. and Gomes, R. L. (2014) Comparison of response surface methodology (RSM) and artificial neural networks (ANN) towards efficient extraction of artemisinin
                                        from <i>Artemisia annua</i>. <u>Industrial Crops and Products</u>, 58, 15-24.</font>
                                </p>
                            </a>
                        </li>
                        <li>
                            <a href="https://core.ac.uk/download/pdf/9703993.pdf" target="_blank">
                                <p align="justify">
                                    <font color="black"><i class="fas fa-angle-right"></i> Pilkington, J. L., Preston, C. and Gomes, R. L. (2012) The impact of impurities in various crude <i>A. annua</i> extracts on the analysis of artemisinin by liquid chromatographic methods<u>, Journal of Pharmaceutical and Biomedical Analysis</u>,
                                        70, 136-142.</font>
                                </p>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid content-row">
    <div class="row">
        <div class="col col-xs-12">
            <div class="card pb-0 h-100">
                <div class="card-header">
                    <h4>
                        <p class="header-font">Selected Presentations</p>
                    </h4>
                </div>
                <div class="card-body">
                    <ul style="list-style: none; padding: 0; list-style-type: none;">
                        <li>
                            <p align="justify">
                                <font color="black"><i class="fas fa-angle-right"></i> Pilkington, J. L., Preson, C. and Gomes, R. L. (2014) Refining the biorefinery through adaptive manufacturing. Case study: Artemisinin extraction. Poster presentation, <u>Gordon Research Conference - Natural Products</u>,
                                    Andover (USA), 20<sup>th</sup> July 2014.
                                </font>
                            </p>
                        </li>
                        <img src="{{ url_for('static', filename='img/korea.png') }}" align="right" width="40%" style="padding: 0 20px 20px 20px;"></img>
                        <li>
                            <p align="justify">
                                <font color="black"><i class="fas fa-angle-right"></i> Pilkington, J. L., Preston, C. and Gomes, R. L. (2013) Adaptive manufacturing in bioprocessing and natural product extraction. Case study: Artemisinin extraction. Invited speaker, <u>The Max Planck Institute for Dynamics of Complex Technical Systems</u>,
                                    Magdeberg (Germany), 27<sup>th</sup> November 2013.
                                </font>
                            </p>
                        </li>
                        <li>
                            <p align="justify">
                                <font color="black"><i class="fas fa-angle-right"></i> Pilkington, J. L., Preston, C. and Gomes, R. L. (2013) Modelling the impact of biomass batch variability on natural products extraction, to identify optimal processing conditions. Poster
                                    presentation, <u>EPSRC - Manufacturing the Future</u>, Cranfield University (UK), 17<sup>th</sup> September 2013.
                                </font>
                            </p>
                        </li>

                        <li>
                            <p align="justify">
                                <font color="black"><i class="fas fa-angle-right"></i> Pilkington, J. L., Preston, C. and Gomes, R. L. (2013) Developing a standardised approach to assess artemisinin production efficiency and facilitate processing improvements. Oral presentation,
                                    <u>9th World Congress of Chemical Engineering</u>, Seoul (Korea), 18<sup>th</sup> August 2013.
                                </font>
                            </p>
                        </li>
                        <li>
                            <p align="justify">
                                <font color="black"><i class="fas fa-angle-right"></i> Pilkington, J. L., Preston, C. and Gomes, R. L. (2013) Ensuring the Sustainability of Artemisinin Production from <i>Artemisia Annua</i>. Oral presentation, <u>6th International Conference on Green and Sustainable Chemistry</u>,
                                    University of Nottingham (UK), 4<sup>th</sup> August 2013.
                                </font>
                            </p>
                        </li>
                        <li>
                            <p align="justify">
                                <font color="black"><i class="fas fa-angle-right"></i> Pilkington, J. L., Preston, C. and Gomes, R. L. (2013) Overcoming the obstacles in analysing the artemisinin content of
                                    <i>Artemisia annua</i> crude extracts. Invited poster presentation <i>In absentia</i>, <u>International Artemisinin Conference 2013</u>, Nairobi (Kenya), 15<sup>th</sup> January 2013.
                                </font>
                            </p>
                        </li>
                        <li>
                            <p align="justify">
                                <font color="black"><i class="fas fa-angle-right"></i> Pilkington, J. L., Preston, C. and Gomes, R. L. (2012) Addressing the analytical hurdles associated with <i>Artemisia annua</i> extracts. Oral presentation, <u>The Royal Society of Chemistry - Plants as Providers of Fine Chemicals</u>,
                                    University of Bangor (UK), 29<sup>th</sup> August 2012.
                                </font>
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% include 'core/cv_modal.html' %} 
{% endblock %}