{% extends 'core/base.html' %} {% block content %}
<div class="container-fluid content-row">
    <div class="row">
        <div class="col-md-12">
            <div class="card pb-0 h-100">
                <div class="card-body">
                    <h3>Welcome to my site</h3><br>
                    <p align="justify">
                        I'm a Data Scientist based in Manchester (UK) working primarily in process optimisation, and this website represents an on-going project to document interactive examples of the types of problem I work on. There are 3 main motivations behind this site:
                    </p>
                    <ul>
                        <li>
                            <p>To have a full-stack project exposed to the wider world so that I can continue to be challenged to improve on a variety of skills</p>
                        </li>
                        <li>
                            <p>To communicate my work in a more tangible way. Hopefully, interacting with the systems I create gives a better sense of what they actually do and how they are used
                            </p>
                        </li>
                        <li>
                            <p>To have a portfolio that spans many of the technologies I have come to learn along the way, as a prompt to ensure I stay on top of the libraries and new developments
                            </p>
                        </li>
                    </ul>
                    <p align="justify">I originally qualified as a Chemical and Environmental Engineer before moving on to vehicle routing problems, where I was the most senior Data Scientist at Fetchr - a company listed by Forbes as one of the
                        <a href="https://www.emirates247.com/news/emirates/careem-fetchr-emerge-as-most-promising-uae-startups-2016-10-07-1.641629" style="color: #265077;" target="_blank"> <u>most promising startups in the Middle East</u></a>. From there, I worked on commissioning the roll-out of a system that handled routing for the home delivery arm of Tesco across the UK. I have since moved back into manufacturing,
                        working on ensuring that production targets are met in the most efficient and cost-effective manner.
                    </p>
                    <p align="justify">Please feel free to have a look around and play with the examples. If you have questions or wish to discuss opportunities to work together, please do get in touch! A final note; although I did my best to make this website responsive
                        for mobile viewing, some features really just won't play ball (I'm looking at you, plotly.js) and it's best viewed in landscape. Sorry!
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}